<!DOCTYPE html>
<html>
    <head>
        <title>Michael's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p><em>Published: September 7th, 2020</em></p>
            <h2><a href="">My First Post</a></h2>
            <p>I can't wait to start the Fall Semester!</p>
        </div>
            
        <div>
            <p><em>Published: September 7th, 2020</em></p>
            <h2><a href="">My Second Post</a></h2>
            <p>I will work very hard to do well in my classes in college.</p>
        </div>
    </body>
</html>